
  .header {
    background-color: #083d77;
    color: white;
    padding: 60px 20px;
    text-align: center;
    max-width: 100%;
  }
  
  .header h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .header p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  .btn {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #166b2a;
    transform: scale(1.05);
  }
  
  /* About Section */
  .about {
    background: #f9f9f9;
    padding: 40px 20px;
  }
  
  .aboutContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .aboutText {
    flex: 1 1 45%;
    padding: 10px;
    max-width: 60%;
  }
  
  .aboutText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .aboutText p {
    margin-bottom: 20px;
  }
  
  .aboutImage img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Services Section */
  .services {
    background: linear-gradient(to bottom right, #c5e1c5, #eaf7ea);
    padding: 40px 20px;
    text-align: center;
  }
  
  .serviceCards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  
  .serviceCard {
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .serviceCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .serviceCard img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .serviceCard h3 {
    margin-bottom: 10px;
    color: #1a7431;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .serviceCard p {
    font-size: 1rem;
    margin-bottom: 10%;
    color: #555;
  }
  
  /* Contact Section */
  .contact {
    background: #f1f1f1;
    padding: 60px 20px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2rem;
    color: #083d77;
    margin-bottom: 20px;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contactForm input,
  .contactForm textarea {
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    border: 2px solid rgb(14, 97, 39);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
  }
  