@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?animals,farm') no-repeat center center/cover;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-bottom: 3px solid #4CAF50;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #FFD700;
}

header p {
    font-size: 1.2rem;
}

.buttons {
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    color: #ffffff;
    background: #ff4400;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.buttons a:hover {
    background: #972b04;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
}

.featureCard {
    background: #F0FFF0;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 20px);
    color: #333333;
    min-width: 250px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.featureCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    background: #E6FFE6;
}

.featureCard h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #4CAF50;
}

.featureCard p {
    font-size: 1rem;
    color: #555555;
}

/* language select */

.languageSelector {
    margin-bottom: 20px;
    width: 50%;
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.languageSelector select {
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #d8900a;
    color: white;
    border: none;
}

.languageSelector select:hover {
  
    background-color: #bf800b;
   
}

footer {
    background: rgba(0, 0, 0, 0.8);
    margin-top: 2%;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    width: 100%;
}

footer p {
    font-size: 1rem;
}